{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "esnext"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "exclude": [
    "src/classes/ribbon/amber/node_modules/**/*",
    "src/classes/ribbon/amber/test/**/*"
  ]
}
